<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staff.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @staff.company %>
</p>

<p>
  <strong>Location:</strong>
  <%= @staff.location %>
</p>

<p>
  <strong>Priviledge:</strong>
  <%= @staff.priviledge %>
</p>

<p>
  <strong>Crossplatform:</strong>
  <%= @staff.crossplatform %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
