<%= form_for(config) do |f| %>
  <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mgr_company %>
    <%= f.text_field :mgr_company %>
  </div>

  <div class="field">
    <%= f.label :mgr_location %>
    <%= f.text_field :mgr_location %>
  </div>

  <div class="field">
    <%= f.label :mgr_email %>
    <%= f.text_field :mgr_email %>
  </div>

  <div class="field">
    <%= f.label :projector %>
    <%= f.number_field :projector %>
  </div>

  <div class="field">
    <%= f.label :mgr_refreshment %>
    <%= f.text_field :mgr_refreshment %>
  </div>

  <div class="field">
    <%= f.label :mgr_hr %>
    <%= f.text_field :mgr_hr %>
  </div>

  <div class="field">
    <%= f.label :mgr_it %>
    <%= f.text_field :mgr_it %>
  </div>

  <div class="field">
    <%= f.label :loc_resource1 %>
    <%= f.number_field :loc_resource1 %>
  </div>

  <div class="field">
    <%= f.label :loc_resource2 %>
    <%= f.number_field :loc_resource2 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
