<%= form_for(config) do |f| %>
  <% if config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% config.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>

  <div class="field">
    <%= f.label :p_custodian %>
    <%= f.text_field :p_custodian %>
  </div>

  <div class="field">
    <%= f.label :r_custodian %>
    <%= f.text_field :r_custodian %>
  </div>

  <div class="field">
    <%= f.label :projector %>
    <%= f.number_field :projector %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
