<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @config.company %>
</p>

<p>
  <strong>P custodian:</strong>
  <%= @config.p_custodian %>
</p>

<p>
  <strong>R custodian:</strong>
  <%= @config.r_custodian %>
</p>

<p>
  <strong>Projector:</strong>
  <%= @config.projector %>
</p>

<p>
  <strong>Status:</strong>
  <%= @config.status %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
