<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>booking</title>


</head>

<body>

    <section>
        <div class="container">
            <div class="row visible-xs-block visible-sm-block visible-md-block visible-lg-block visible-xs-inline">
                <div class="col-md-2"></div>

                <div class="col-md-2 col-md-push-1 col-md-pull-2">
                    <button class="btn btn-primary btn-block btn-sm" type="button" style="border-radius:30px">Pending Today<span><span class="badge" style="font-size:22px; border: 2px solid blue"><%= @pending %></span></span>
                    </button>
                </div>
                <div class="col-md-2 col-md-push-1 col-md-pull-2">
                    <button class="btn btn-info btn-block btn-sm" type="button" style="border-radius:30px">Upcoming Events<span><span class="badge" style="font-size:22px; border: 2px solid purple"><%= @ongoing %></span></span>
                    </button>
                </div>
                <div class="col-md-2 col-md-push-1 col-md-pull-2">
                    <button class="btn btn-success btn-block btn-sm" type="button" style="border-radius:30px">Approved<span><span class="badge" style="font-size:22px; border: 2px solid green"><%= @approved %></span></span>
                    </button>
                </div>
                <div class="col-md-2 col-md-push-1 col-md-pull-2">
                    <button class="btn btn-danger btn-block btn-sm" type="button" style="border-radius:30px">Cancelled <span><span class="badge" style="font-size:22px; border: 2px solid red"><%= @cancel %></span></span>
                    </button>
                </div>
            </div>
        </div>
    </section>
  <%= render 'shared' %>
    

</body>

</html>