<section>
        <div class="container visible-xs-block visible-sm-block visible-md-block visible-lg-block visible-xs-inline">
            <div class="row">
                <div class="col-md-2 col-md-offset-0" style="margin-top:5%; border: 0px solid lightgrey; background-color:lightgrey">
                    <div style="margin:10px;">
 <%= link_to("ALL REQUEST", admin_manager_path, class: "btn btn-default btn-block btn-md" ) %>                       
                    </div>
                    <div style="margin:10px;">
<%= link_to("BOOKED", admin_manager_path(:ps=> "booked"), class: "btn btn-default btn-block btn-md" ) %>
                    </div>
                    <div style="margin:10px;">
<%= link_to("UPCOMING", admin_manager_path(:ps=> "coming"), class: "btn btn-default btn-block btn-md" ) %>
                    </div>
                    <div style="margin:10px;">
 <%= link_to 'CHANGE PASSWORD', edit_user_registration_path, :class => 'btn btn-default btn-block btn-md' %>
                    </div>
                    <div class="btn-group" role="group"></div>
                </div>

                <div class="col-md-8 col-md-offset-1" style="margin-top:5%;border:0.5% solid lightgrey;background-color:white">

                    <div class="table-responsive">
                    <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                
                      <th>TITLE</th>
                      <th>MEETING DATE</th>
                      <th>START TIME</th>
                      <th>END TIME</th>
                      <th>STATUS</th>
                      <th>UPDATE</th>
                      <th>DELETE</th>
                      </tr>  
                    </thead>   
                    <tbody>
                 <%   @request.each do |f| %>
                        <tr>
                            <td><%= f.title %></td>
                            <td><%= f.date %></td>
      <% b = f.startd.to_s.split(" ") %>                        
                            <td><%= b[1] %></td>
              <% c = f.endd.to_s.split(" ") %>                              
                            <td><%= c[1] %></td>
                            <td> <%= f.status %> </td>
                            <% if f.status == 'booked' || f.status == 'pending' || f.status == 'reschedule' || f.status == 'rejected' %>
                            <% b = link_to 'Edit', edit_request_path(f) %>
                            <% elsif f.status == 'approved' || f.status == 'cancelled' %>
                             <% b = link_to 'View', f %>
                            <% end %>
                            <td> <%= b %></td>
                            <td><%= link_to 'Delete', f, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>   


                        <% end %>                                           
                    </tbody>

                    </table>
                        

                    </div>
                    <div> <h4> <%= will_paginate @request %></h4></div>
                    <div>
                 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                </div>
            </div>
        </div>
    </section>