  
<br>
<%= @greeting+" " %><%= @con.p_custodian.split("@")[0].split('.')[0].upcase_first + ','%>
<br>
<br>
<br>
<br>
 A new request for projector has been received from 

 <%= @req.requestby.upcase %>, please find details of meeting below: 


 <br>
 <br>
 <p> Meeting Room 				: <%= @room.codename + " > "+ @room.company+" "+@room.name %> </p>
<br>
 <p> Meeting Location		    : <%= @room.location %></p>
<br> 
 <p> Date 						: <%= @req.date.strftime("%d-%m-%Y") %> </p>
<br>
<% b=@req.startd.to_s(:time) %>
<% c=@req.endd.to_s(:time)%>
 <p> Start Time		    		: <%= b %></p>
<br> 
 <p> End Time		    		: <%= c %></p>
<br>
<br>
<br>
Please setup projector at least 10 Minute before meeting start.
<br>
<br>
<br>
<br>
<br>
Warm regards, 



