<p id="notice"><%= notice %></p>

<h1>Configs</h1>

<table>
  <thead>
    <tr>
      <th>Mgr company</th>
      <th>Mgr location</th>
      <th>Mgr email</th>
      <th>Projector</th>
      <th>Mgr refreshment</th>
      <th>Mgr hr</th>
      <th>Mgr it</th>
      <th>Loc resource1</th>
      <th>Loc resource2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configs.each do |config| %>
      <tr>
        <td><%= config.mgr_company %></td>
        <td><%= config.mgr_location %></td>
        <td><%= config.mgr_email %></td>
        <td><%= config.projector %></td>
        <td><%= config.mgr_refreshment %></td>
        <td><%= config.mgr_hr %></td>
        <td><%= config.mgr_it %></td>
        <td><%= config.loc_resource1 %></td>
        <td><%= config.loc_resource2 %></td>
        <td><%= link_to 'Show', config %></td>
        <td><%= link_to 'Edit', edit_config_path(config) %></td>
        <td><%= link_to 'Destroy', config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Config', new_config_path %>
