<p id="notice"><%= notice %></p>

<p>
  <strong>Mgr company:</strong>
  <%= @config.mgr_company %>
</p>

<p>
  <strong>Mgr location:</strong>
  <%= @config.mgr_location %>
</p>

<p>
  <strong>Mgr email:</strong>
  <%= @config.mgr_email %>
</p>

<p>
  <strong>Projector:</strong>
  <%= @config.projector %>
</p>

<p>
  <strong>Mgr refreshment:</strong>
  <%= @config.mgr_refreshment %>
</p>

<p>
  <strong>Mgr hr:</strong>
  <%= @config.mgr_hr %>
</p>

<p>
  <strong>Mgr it:</strong>
  <%= @config.mgr_it %>
</p>

<p>
  <strong>Loc resource1:</strong>
  <%= @config.loc_resource1 %>
</p>

<p>
  <strong>Loc resource2:</strong>
  <%= @config.loc_resource2 %>
</p>

<%= link_to 'Edit', edit_config_path(@config) %> |
<%= link_to 'Back', configs_path %>
