<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h4 style="margin-left: 45%" id="notice"> <b><%= notice %></b></h4>
<div class="container">    
    <div id="signupbox" style="  margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading " >
                <div class="panel-title" >Update Booking Reservation</div>

            </div>  
            <div class="panel-body" >             
                        <div id="div_id_username" class="form-group required">
                            <label for="id_username" class="control-label col-md-4  requiredField"> Title <span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 ">
                             <input type="text" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="title" value="<%= @request.title %>" readonly >   
                            </div>
                        </div>
                        <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Meeting Date<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 ">
                      <input type="date" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="date" value="<%= @request.date %>" readonly >             
                            </div>     
                        </div>
                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Start Time<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                            <% a = @request.startd.to_s.split(" ") %>
                      <input type="time" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="startd" value="<%= a[1] %>" readonly >   

                            </div>     
                        </div>    
                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> End Time<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                            
                            <% b = @request.endd.to_s.split(" ") %>
                      <input type="time" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="endd" value="<%= b[1] %>" readonly >   

                            </div>     
                        </div>    

                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Description<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                            
                               <textarea name="desc" rows="3" cols="100" style="margin-bottom: 10px" class="input-md emailinput form-control" readonly=""> <%= @request.desc %>
                               </textarea> 

                            </div>     
                        </div>   

                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Request By<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                            
                      <input type="text" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="requestby" value="<%= @request.requestby %>" readonly > 

                            </div>     
                        </div>   

                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Email<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                                        <input type="text" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="email" value="<%= @request.email %>" readonly > 
                              </div>     
                        </div>   


                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Reschedule Date<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                      <input type="text" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="reschedule" value="<%= @request.reschedule %>" readonly >           


                            </div>     
                        </div>   
 
                        <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField">Projector<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                      <input type="checkbox" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="projector" value="<%= @request.projector %>" <% if @request.projector == true %>
                        <%= "checked" %>
                        <% end %> disabled>           
                            </div>     
                        </div>

                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField">Refreshment<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                      <input type="checkbox" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="refreshment" value="<%= @request.refreshment %>" <% if @request.refreshment == true %>
                        <%= "checked" %>
                        <% end %> disabled>           
                            </div>     
                        </div>

                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Special<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                            
                               <textarea name="special" rows="3" cols="100" style="margin-bottom: 10px" class="input-md emailinput form-control" readonly=""> <%= @request.special %>
                               </textarea> 

                            </div>     
                        </div>            

                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Attendees<span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                                 <input type="number" style='margin-bottom: 10px' class= "input-md emailinput form-control" name="attendees" value="<%= @request.attendees %>" readonly >
                          
                            </div>     
                        </div> 

                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Current Status<span class="asteriskField">*</span> </label>
                            <% col = @request.status
                            if col == 'pending'
                              color='blue'
                            elsif  col == 'approved'
                               color='green'
                             elsif col=='rejected'
                              color = 'red'
                            elsif col == 'reschedule'
                              color = 'purple'
                            elsif col == 'ongoing'
                              color = 'orange'
                          else 
                          	color = 'black'
                            end
                            %>                                         


                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                
                           <label for="id_email" style="justify-content: center; font-size: 20px; color:<%= color%>" class="input-md emailinput form-control"><%= @request.status.upcase %> </label>
                            </div>   
                                 <%# f.text_field :status, :value => 'pending' %>

                                 
                            </div>  


                         <div id="div_id_email" class="form-group required">
                            <label for="id_email" class="control-label col-md-4  requiredField"> Reservation <span class="asteriskField">*</span> </label>
                            <div class="controls col-md-8 " style="margin-top: 5px; margin-bottom: 5px">
                                 
                          	<%= f.select :status, ['pending', 'reschedule', 'approved', 'rejected'], 
                          	class: 'control-label col-md-8', style: 'margin-bottom:20px' %>
                            </div>     
                        </div> 

                         <div class="form-group"> 
                            <div class="aab controls col-md-4 "></div>
                          <div class="controls col-md-4 ">
                            <a type="button" href="<%= admin_index_url %>" name="Signup" value="Back" class="btn btn-default" id="submit-id-signup">Back </a>
                               
                            </div>
                                                        <div class="controls col-md-4 ">
                                <%= f.submit :update, class: "btn btn-default" %>
                               
                            </div>
                        </div> 
           

                
            </div>
        </div>
    </div> 
</div>
<% end %>

<%= link_to 'Show', @request %> |
<%= link_to 'Back', requests_path %>
