<p id="notice"><%= notice %></p>
 <div class="col-md-11" style="border:1.5% solid lightgrey;background-color:white">

                    <div class="table-responsive">
                    <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                
                      <th>Company</th>
                      <th colspan="4">Projector Custodian Email</th>
                      <th colspan="4">Refreshment Organizer Email</th>
                      <th>Available Projector</th>
                      <th>Status Enable/Disable</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>                      
                      </tr>  
                    </thead>   
                    <tbody>
                 <%   @configs.each do |config| %>
                        <tr>
                        <td ><%= config.company %></td>
                        <td colspan="4"><%= config.p_custodian %></td>
                        <td colspan="4"><%= config.r_custodian %></td>
                        <td><%= config.projector %></td>
                        <td><%= config.status %></td>
        <td><%= link_to 'Show', config %></td>
        <td><%= link_to 'Edit', edit_config_path(config) %></td>
        <td><%= link_to 'Delete', config, method: :delete, data: { confirm: 'Are you sure?' } %></td>                        
                        </tr>   


                        <% end %>                                           
                    </tbody>

                    </table>
<%= link_to 'New Config', new_config_path %>                        

                    </div>

